@using ProjectDb.Entities
@model Message
@{
    ViewBag.Title = "Index";
}

<div class="container" id="vue">
    <h3>@ViewBag.Person.Name @ViewBag.Person.LastName</h3>
    <hr class="line"/>
    <div class="col-md-8">
        @using (Html.BeginForm("SendMessage", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    <textarea placeholder = "Введите ваше сообщение..." class = "form-control" id="Text" name="Text" v-model="message"></textarea>
                    @*@Html.TextAreaFor(m => m.Text, new { @v-model="message", @class = "form-control", @placeholder = "Введите ваше сообщение..." })
                    @*Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })*@
                    <span :class="{'text-danger': IsError}">{{error}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input :disabled="IsError" type="submit" class="btn btn-primary" value="Отправить" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Upload", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" /><br>
            <input type="submit" value="Загрузить" class="btn btn-default" />
        }
    </div>
    
    <div class="messages">
        <div class="col-md-11">
            <p>{{message}}</p>
        </div>
        @foreach (var el in ViewBag.Messages)
        {
            if (string.IsNullOrEmpty(el.ImgPath))
            {
                <div class="col-md-11">
                    <p>
                        @el.Text
                    </p>
                </div>
            }
            else
            {
                <div class="col-md-11">
                    <img class="img-size" src="@Url.Content(el.ImgPath)" />
                </div>
            }

            if (ViewBag.Time < el.TimeToDelete)
            {
                <div class="col-md-1">
                    @using (Html.BeginForm("DeleteMessage", "User", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@el.Id" />
                        <input type="submit" value="Удалить" class="btn btn-danger" />
                    }
                </div>
            }
            <br />
        }
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    var app = new Vue({
        el: '#vue',
        data: {
            message: '', 
            error: '',
            IsError: false
        },
        watch: {
            message: function () {
                if (this.message.length > 300) {
                    this.error = 'Количество символов больше 300!';
                    this.IsError = true;
     
                }
                if (this.message.length < 30) {
                    this.error = '';
                    this.IsError = false;
                }
            }
        }

    });

</script>